<!-- <a class="p-8 max-w-lg border border-indigo-300 rounded-2xl hover:shadow-xl hover:shadow-indigo-50 flex flex-col items-center"
    href="#">
    <img src="https://loremflickr.com/800/600/girl" class="shadow rounded-lg overflow-hidden border" >
    <div class="mt-8">
        <h4 class="font-bold text-xl">Exercises</h4>
        <p class="mt-2 text-gray-600">Create Exercises for any subject with the topics you and your students care about.
        </p>
        <div class="mt-5">
            <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900">Start Creating</button>
        </div>
    </div>
</a> -->
<div data-widget-replaceable-content="29" data-ng-non-bindable="" class="nh-features--indent-top-s nh-features--indent-bottom-l lazyloaded" style="
   
           background-position: center;
        background-repeat: no-repeat;
                    background-size: cover;
                        background-color: rgba(255,255,255, 1);
    ">
         <div class="js-indent-add"></div>                                <div class="nh-features__container">
                    <ul class="nh-features__items">
                                                                                                                                    <li class="nh-features__item nh-features--indent-top-m nh-features--indent-bottom-l lazyloaded" style="
   
           background-position: top center;
        background-repeat: repeat-y;
                    background-size: auto;
                        background-color: rgba(255,255,255, 0);
    " id="nh-features-2">
                                    <div class="nh-features__item-wrapper nh-features__inner">
                                        <figure class="nh-features__figure
                                         nh-features__figure--column-bottom">
                                                                                                <div class="nh-features__image-block">
                                                        
        
                                                
    
                                
                
    
                                        
        <picture class="nh-features__picture-container nh-features_round-2" style="                --picture-shadow-color: rgba(0,0,0, 0);                --picture-border-color: rgba(0,0,0, 0); --picture-border-width: 0px;        ">
            <source media="(max-width: 767px)" srcset="//i.siteapi.org/TqO3UzQmS9jc-7UNTMXRd_WKCVs=/fit-in/1312x2000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o 1x, //i.siteapi.org/StIbIcR3OtEtENoLFAhFNQFXxTw=/fit-in/2624x4000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o 2x " type="image/webp">
            <source media="(max-width: 767px)" srcset="//i.siteapi.org/8MWIQ_urnY-8nY7L4goQiNX2R0s=/fit-in/1312x2000/filters:format(png):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o 1x, //i.siteapi.org/J9YMLzkEfXSK1vl1xHEvDQC2iqo=/fit-in/2624x4000/filters:format(png):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o 2x " type="image/png">
            <source media="(min-width: 768px)" srcset="//i.siteapi.org/TqO3UzQmS9jc-7UNTMXRd_WKCVs=/fit-in/1312x2000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o 1x, //i.siteapi.org/StIbIcR3OtEtENoLFAhFNQFXxTw=/fit-in/2624x4000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o 2x " type="image/webp">
            <source media="(min-width: 768px)" srcset="//i.siteapi.org/8MWIQ_urnY-8nY7L4goQiNX2R0s=/fit-in/1312x2000/filters:format(png):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o 1x, //i.siteapi.org/J9YMLzkEfXSK1vl1xHEvDQC2iqo=/fit-in/2624x4000/filters:format(png):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o 2x " type="image/png">
            <img sizes="(max-width: 767px) 1312px, (min-width: 768px) 1312px" src="//i.siteapi.org/TqO3UzQmS9jc-7UNTMXRd_WKCVs=/fit-in/1312x2000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/bypk5acvw204kocs0og444k8gg0c0o" media="(-webkit-min-device-pixel-ratio: 1.5)" class=" nh-features_round-2">
        </picture>
                                                    </div>
                                                                                                                                <div class="nh-features__info nh-features__info--indent  nh-features_round-0 lazyloaded" style="
                                                       --content-shadow-color: rgba(0,0,0, 0);                                                    --content-border-color: rgba(0,0,0, 0); --content-border-width: 0px;                                                
           background-position: top center;
        background-repeat: repeat-y;
                    background-size: auto;
                        background-color: rgba(255,255,255, 0);
    ">
                                                                                                    <div class="nh-features__title nh-features-item-title--user-inner nh-features__title--align-center" style="color: #000000;">
                                                        О школе                                                    </div>
                                                                                                                                                    <div class="nh-features__text nh-features-item-desc--user-inner
                                                        nh-features__text--align-center" style="color: #000000;">
                                                            Среднеобразовательная школа №_ была основана в 1965 году. В первый учебный год в школе учились только 200 учеников, со временем количество учащихся стало расти, и в настоящее время в школе обучается более 1000 детей. В течение многих лет школа занимала лидирующие позиции в городе по результатам ЕГЭ и олимпиад. Многие выпускники школы продолжили свое обучение в лучших вузах страны и за рубежом.                                                    </div>
                                                                                                                                                    <div class="nh-features__btn-container nh-features__btn-container--alignment-1">
                                                                                                                    <a target="_parent" href="/about_school" class="nh-features__btn nh-features__btn--basic">Подробнее о школе</a>
                                                                                                                                                                    </div>
                                                                                            </div>
                                                                                </figure>
                                    </div>
                                </li>
                                                                                                                <li class="nh-features__item nh-features--indent-top-m nh-features--indent-bottom-m lazyloaded" style="
                                                       --content-shadow-color: rgba(0,0,0, 0);                                                    --content-border-color: rgba(0,0,0, 0); --content-border-width: 0px;                                                
           background-position: center;
        background-repeat: no-repeat;
                    background-size: cover;
                        background-color: rgba(255,255,255, 0);
    " id="nh-features-3">
                                    <div class="nh-features__item-wrapper nh-features__inner">
                                        <figure class="nh-features__figure
                                         nh-features__figure--reverse">
                                                                                                <div class="nh-features__image-block">
                                                        
        
                
    
                                
                
    
                                        
        <picture class="nh-features__picture-container nh-features_round-1" style="                --picture-shadow-color: rgba(0,0,0, 0);                --picture-border-color: rgba(0,0,0, 0.1); --picture-border-width: 0px;        ">
            <source media="(max-width: 767px)" srcset="//i.siteapi.org/tgkJs560iI_HNyBIQJoGgz3tYqo=/fit-in/528x2000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw 1x, //i.siteapi.org/G15U6tU09u3CLeVFdpM7DqVBoHs=/fit-in/1056x4000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw 2x " type="image/webp">
            <source media="(max-width: 767px)" srcset="//i.siteapi.org/ciD3ycvUihzehYp12KIzjxXVOlg=/fit-in/528x2000/filters:format(png):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw 1x, //i.siteapi.org/cWY3OHxwJVnyPfmeMI4EOfz4Du4=/fit-in/1056x4000/filters:format(png):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw 2x " type="image/png">
            <source media="(min-width: 768px)" srcset="//i.siteapi.org/tgkJs560iI_HNyBIQJoGgz3tYqo=/fit-in/528x2000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw 1x, //i.siteapi.org/G15U6tU09u3CLeVFdpM7DqVBoHs=/fit-in/1056x4000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw 2x " type="image/webp">
            <source media="(min-width: 768px)" srcset="//i.siteapi.org/ciD3ycvUihzehYp12KIzjxXVOlg=/fit-in/528x2000/filters:format(png):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw 1x, //i.siteapi.org/cWY3OHxwJVnyPfmeMI4EOfz4Du4=/fit-in/1056x4000/filters:format(png):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw 2x " type="image/png">
            <img sizes="(max-width: 767px) 528px, (min-width: 768px) 528px" src="//i.siteapi.org/tgkJs560iI_HNyBIQJoGgz3tYqo=/fit-in/528x2000/filters:format(webp):upscale()/s2.siteapi.org/e4fca150a8e044d/features/8l72y3r3pf0oggccg00w4wc8k048gw" media="(-webkit-min-device-pixel-ratio: 1.5)" class=" nh-features_round-1">
        </picture>
                                                    </div>
                                                                                                                                <div class="nh-features__info   nh-features_round-0 lazyloaded" style="
                                                       --content-shadow-color: rgba(0,0,0, 0);                                                    --content-border-color: rgba(0,0,0, 0.1); --content-border-width: 0px;                                                
           background-position: center;
        background-repeat: no-repeat;
                    background-size: cover;
                        background-color: rgba(255,255,255, 0);
    ">
                                                                                                    <div class="nh-features__title nh-features-item-title--user-inner nh-features__title--align-left" style="color: #000000;">
                                                        Директор Павлова Ирина Владиславовна                                                    </div>
                                                                                                                                                    <div class="nh-features__text nh-features-item-desc--user-inner
                                                        nh-features__text--align-left" style="color: #000000;">
                                                            От имени всего коллектива средней образовательной школы я хотел бы поприветствовать вас на нашем сайте и выразить искреннюю благодарность за ваш интерес к нашей школе.<br>
Мы стремимся к тому, чтобы наша школа была не только местом получения знаний, но и комфортным пространством для развития личности каждого ученика. Мы уверены, что только в такой атмосфере дети могут раскрыть свой потенциал и достичь успеха в будущем.                                                    </div>
                                                                                                                                            </div>
                                                                                </figure>
                                    </div>
                                </li>
                                                                        </ul>
                </div>
    </div>